Package: asharp
Version: 1.0.0
Section: devel
Priority: optional
Architecture: amd64
Depends: libc6, libreadline8
Maintainer: Aadesh Chaudhari <aadeshchaudhari14@gmail.com>
Description: The A-Sharp Virtual Machine
 A high-performance, stack-based bytecode virtual machine.